ENV['GITHUB_ID'] = ########
ENV['GITHUB_SECRET'] = ##########
ENV['SLACK_SECRET'] = ##########
ENV['SLACK_ID'] = ############
ENV['GITHUB_PW'] = ############
ENV['GUTHUB_LOGIN'] = ############
ENV['PERSONAL_TOKEN'] = ############
ENV['REPO'] = #############
ENV['UI'] = ##########
ENV['CHANNEL_ID'] = ##########
ENV['BOT_ID'] = #############
ENV['TRIGGER'] = ############